<template>
  <div
    data-aos="fade-up"
    data-aos-anchor-placement="center-bottom"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    @mouseover="hoverCard = true"
  >
    <b-card class="container cardService" :class="{ hover: hoverCard }">
      <div>
        <div class="my-2">
          <b-img
            :src="image"
            fluid
            style="max-width: 50%; height: 80px;"
          ></b-img>
        </div>
        <div>
          <h1>{{ title }}</h1>
        </div>
        <div>
          <p>{{ content }}</p>
        </div>
      </div>
    </b-card>
  </div>
</template>

<script>
import { BCard, BImg } from "bootstrap-vue";
export default {
  data() {
    return {
      hoverCard: false,
    };
  },
  components: {
    BCard,
    BImg,
  },

  props: {
    title: String,
    content: String,
    image: String,
  },
};
</script>

<style scoped>

.cardService {
  height: 350px;
}

.hover:hover {
  transform: scale(1.05)
}

</style>
