<template>
  <div class="navbar-container d-flex content align-items-center">
    <!-- Nav Menu Toggler -->
    <ul class="nav navbar-nav d-md-none">
      <li class="nav-item">
        <b-link class="nav-link" @click="toggleVerticalMenuActive">
          <feather-icon icon="MenuIcon" size="21" />
        </b-link>
      </li>
    </ul>

    <!-- Left Col -->
    <div
      class="bookmark-wrapper align-items-center flex-grow-1 d-none d-flex"
    >
      <dark-Toggler class="d-none d-block" />
    </div>

    <b-navbar-nav class="nav align-items-center ml-auto ">

      <div class="d-none d-md-flex">
        <vertical-nav-menu-items
          :items="navMenuItems" 
        />
      </div>

      <div>
        <b-button
          @click="hireMe(a)"
          variant="primary"
          class="d-sm-flex  user-nav"
        >
          HIRE ME
        </b-button>
      </div>
    </b-navbar-nav>
  </div>
</template>

<script>
import {
  BLink,
  BNavbarNav,
  BNavItemDropdown,
  BDropdownItem,
  BDropdownDivider,
  BAvatar,
  BButton,
} from "bootstrap-vue";
import DarkToggler from "@core/layouts/components/app-navbar/components/DarkToggler.vue";
import navMenuItems from "@/navigation/vertical";
import VerticalNavMenuItems from "@/@core/layouts/layout-vertical/components/vertical-nav-menu/components/vertical-nav-menu-items/VerticalNavMenuItems.vue";

export default {
  data() {
    return {};
  },
  components: {
    BLink,
    BNavbarNav,
    BNavItemDropdown,
    BDropdownItem,
    BDropdownDivider,
    BAvatar,
    BButton,
    navMenuItems,
    DarkToggler,
    VerticalNavMenuItems,
  },

  setup() {
    return {
      navMenuItems,
    };
  },

  props: {
    alertHireMe: String,

    toggleVerticalMenuActive: {
      type: Function,
      default: () => {},
    },
  },

  methods: {
    hireMe(a) {
      a = this.alertHireMe;
      alert(a);
    },
  },
};
</script>
