/*================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */


.imgProfile{
    box-shadow: 0px 2px 8px 1px;
}

.btnWork{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    cursor: pointer;
    &.active{
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 45px;
}

.imgPortPtg{
    border: 8px solid green;
    border-radius: 5px;
    opacity: 1;
    &:hover{
        opacity: 0.8;
        transform: scale(1.05);
    }
}

.imgPortGarena{
    border: 8px solid red;
    border-radius: 5px;
    opacity: 1;
    &:hover{
        opacity: 0.8;
        transform: scale(1.05);
    }
}
