<template>
  <div>
    <b-card>
      <div class="container">
        <div></div>
        <b-row class="align-items-center">
          <b-col lg="8" sm="12">
            <div
              data-aos="fade-down"
              data-aos-offset="200"
              data-aos-delay="50"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
              class="text-center"
            >
              <h1 class="text-primary">Thanawat Noybol</h1>
              <p>
                สวัสดีครับผมชื่อเบียร์ เป้าหมายในอาชีพอยากเป็นนักพัฒนา ตำแหน่ง
                Full-Stack ผมชอบการเขียนโค้ด
                การทำงานที่ผ่านมาทำให้ผมได้รับประสบการณ์ การทำงานเป็นทีม
                มีความอดทนสูง ทำงานได้หลากหลาย
                ผมพร้อมที่จะเรียนรู้สิ่งใหม่ๆที่ท้าทาย พร้อมรับฟังคำติชมจากทีม
                และนำความรู้ ความสามารถ มาช่วยพัฒนาองค์กร
                และทำความเป้าหมายในอาชีพการทำงานของผมให้เป็นจริง
              </p>
              <b-badge variant="primary" class="badge-glow"
                >คติประจำใจ " I Can Do it "</b-badge
              >

              <div class="my-2">
                <b-button
                  :href="downloadResume"
                  target="_blank"
                  variant="outline-primary"
                  >Download Resume</b-button
                >
              </div>
            </div>
          </b-col>

          <b-col lg="4" sm="12">
            <div
              data-aos="fade-up"
              data-aos-offset="200"
              data-aos-delay="50"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
            >
              <b-img
                :src="imgProfile"
                fluid
                alt="Fluid image"
                rounded="circle"
                class="imgProfile"
              />
            </div>
          </b-col>
        </b-row>
      </div>
    </b-card>
  </div>
</template>

<script>
import {
  BCard,
  BCardText,
  BLink,
  BRow,
  BCol,
  BButton,
  BBadge,
  BImg,
} from "bootstrap-vue";

export default {
  components: {
    BCard,
    BCardText,
    BLink,
    BRow,
    BCol,
    BButton,
    BBadge,
    BImg,
  },

  data() {
    return {
      imgProfile: require("@/assets/images/profile.webp"),
      downloadResume:
        "https://drive.google.com/file/d/1OnRn4tZ536RPV0LNYyslX_fkLYOByvAe/view?usp=sharing",
    };
  },
};
</script>

<style></style>
