<template>
  <div id="service" class="text-center">
    <small class="text-primary">"My Work"</small>
    <h1>PORTFOLIO</h1>
    <hr class="text-primary" />

    <b-container fluid>
      <div class="d-sm-inline-flex">
        <div class="p-2">
          <b-img
            width="250"
            rounded
            src="@/assets/images/ptg/logoptg.webp"
            class="shadow btnWork"
            @click="showPort = '1'"
            :class="{ active: showPort == '1' }"
          ></b-img>
        </div>

        <div class="p-2">
          <b-img
            width="250"
            rounded
            src="@/assets/images/garena/logogarena.webp"
            class="shadow btnWork"
            @click="showPort = '2'"
            :class="{ active: showPort == '2' }"
          ></b-img>
        </div>
      </div>

      <div v-if="showPort == '1'" class="mt-3">
        <div>
          <h1 class="text-success">บริษัท พีทีจี เอ็นเนอยี จำกัด (มหาชน)</h1>
          <div>
            <p class="text-success">
              ตำแหน่ง IT Technician Support (ภาคอีสานตอนล่าง) ปี พ.ค. 2018 -
              ก.พ. 2021
            </p>
          </div>
        </div>

        <b-card-text class="mt-2">
          รับผิดชอบเครื่องคอมพิวเตอร์และอุปกรณ์เกี่ยวกับ IT ทั้งหมด
          ให้คำปรึกษาและแก้ไขปัญหาเกี่ยวกับคอมพิวเตอร์ให้ผู้จัดการปั้มน้ำมัน
          ทั้งหมด 160 สาขา จาก 6 จังหวัดในภาคอีสานตอนล่าง
          ให้สามารถใช้งานคอมพิวเตอร์ได้อย่างไม่ติดปัญหา
          แก้ไขปัญหาและให้คำแนะนำเกี่ยวกับการใช้งานคอมพิวเตอร์ และ Software
          เข้าหน้างานแก้ไขปัญหาเครื่องคอมพิวเตอร์หรืออุปกรณ์ IT ทั้งหมด
          ประชุมฝ่ายเดือนละครั้งเพื่อหาแนวทางการแก้ปัญหาและหาแนวทางพัฒนาให้ทีมงานทำงานได้เร็วขึ้น
          หาโปรแกรมหรือตัวช่วยต่างๆเข้ามาประกอบการทำงาน
          <br />
          <a
            href="https://www.ptgenergy.co.th"
            target="_blank"
            rel="noopener noreferrer"
            >https://www.ptgenergy.co.th</a
          >
        </b-card-text>

        <b-card-group>
          <b-row>
            <b-col
              cols="12"
              sm="6"
              md="6"
              lg="4"
              xl="3"
              v-for="(item, index) in imagesPtg"
              :key="index"
              data-aos="fade-up"
              data-aos-anchor-placement="center-bottom"
              data-aos-offset="200"
              data-aos-delay="50"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
            >
              <div class="">
                <b-img
                  :src="item.src"
                  rounded
                  class="m-2 imgPortPtg"
                  width="260"
                  bg-black
                ></b-img>
              </div>
            </b-col>
          </b-row>
        </b-card-group>
      </div>

      <div v-if="showPort == '2'" class="mt-3">
        <div>
          <h1 class="text-danger">บริษัท การีนา ออนไลน์ (ประเทศไทย)</h1>
          <div>
            <p class="text-danger">
              ตำแหน่ง IT Technician / Sales (ภาคอีสานตอนล่าง) ปี พ.ค. 2014 -
              มี.ค. 2016
            </p>
          </div>
        </div>

        <b-card-text class="mt-2">
          ลักษณะการทำงาน : ติดตั้งโปรแกรมควบคุมร้านอินเทอร์เน็ต (ระบบ Diskless &
          ระบบคิดเงินร้าน) - Support ร้าน internet ในจังหวัดสุรินทร์
          ที่เป็นลูกค้าของบริษัท (และจังหวัดใกล้เคียงในบางเวลา
          ตามที่บริษัทมอบหมายให้) - Remote แก้ไขปัญหาให้กับลูกค้าร้าน internet
          (หากอาการไม่หนักสามารถรีโมทไปแก้ได้) - รับผิดชอบดูแลร้านและแก้ไขระบบ
          Hardware&Software ให้ลูกค้าของบริษัททั้งหมดในจังหวัดสุรินทร์ กว่า 200
          ร้าน
          <br />
          <a
            href="https://www.garena.co.th/"
            target="_blank"
            rel="noopener noreferrer"
            >https://www.garena.co.th/</a
          >
        </b-card-text>

        <b-card-group>
          <b-row>
            <b-col
              cols="12"
              sm="6"
              md="6"
              lg="4"
              xl="3"
              v-for="(item, index) in imagesGarena"
              :key="index"
              data-aos="fade-up"
              data-aos-anchor-placement="center-bottom"
              data-aos-offset="200"
              data-aos-delay="50"
              data-aos-duration="1000"
              data-aos-easing="ease-in-out"
            >
              <div class="">
                <b-img
                  :src="item.src"
                  rounded
                  class="m-2 imgPortGarena"
                  width="260"
                  bg-black
                ></b-img>
              </div>
            </b-col>
          </b-row>
        </b-card-group>
      </div>
    </b-container>
  </div>
</template>

<script>
import {
  BContainer,
  BCard,
  BCardText,
  BRow,
  BCol,
  BImg,
  BCardGroup,
} from "bootstrap-vue";
export default {
  components: {
    BContainer,
    BCard,
    BCardText,
    BRow,
    BCol,
    BImg,
    BCardGroup,
  },

  data() {
    return {
      showPort: "1",

      imagesPtg: [
        { src: require("@/assets/images/ptg/01.webp") },
        { src: require("@/assets/images/ptg/02.webp") },
        { src: require("@/assets/images/ptg/03.webp") },
        { src: require("@/assets/images/ptg/04.webp") },
        { src: require("@/assets/images/ptg/05.webp") },
        { src: require("@/assets/images/ptg/06.webp") },
        { src: require("@/assets/images/ptg/07.webp") },
        { src: require("@/assets/images/ptg/08.webp") },
        { src: require("@/assets/images/ptg/09.webp") },
      ],

      imagesGarena: [
        { src: require("@/assets/images/garena/01.webp") },
        { src: require("@/assets/images/garena/02.webp") },
        { src: require("@/assets/images/garena/03.webp") },
        { src: require("@/assets/images/garena/04.webp") },
        { src: require("@/assets/images/garena/05.webp") },
        { src: require("@/assets/images/garena/06.webp") },
        { src: require("@/assets/images/garena/07.webp") },
        { src: require("@/assets/images/garena/08.webp") },
        { src: require("@/assets/images/garena/09.webp") },
      ],
    };
  },
};
</script>

<style>
</style>