<template>
  <div id="service" class="text-center">
    <small class="text-primary">"What i do"</small>
    <h1>SERVICES</h1>
    <hr class="text-primary" />
    <b-card-text class="py-sm-2 py-0"
      >เมื่อก่อนผมใช้เวลาว่างหลังเลิกงาน ศึกษาหาความรู้เกี่ยวกับการ Coding
      และตอนนี้ก็รับงาน Freelance ทำเกี่ยวกับ Front-end โดยใช้ Vue Framework
      เป็นหลัก และที่ผมศึกษาเพิ่มเติมอยู่มีดังนี้</b-card-text
    >
    <b-card-group>
      <b-row>
      
      <b-col lg="4" sm="12" v-for="(item, index) in items" :key="index">
          <card-vertical
            :title="item.title"
            :content="item.content"
            :image="item.image"
          ></card-vertical>
        </b-col>
       
      </b-row>
    </b-card-group>
  </div>
</template>

<script>
import {
  BCard,
  BCardText,
  BRow,
  BCol,
  BButton,
  BImg,
  BCardGroup,
} from "bootstrap-vue";
import CardVertical from "@/layouts/components/card-vertical.vue";

export default {
  data() {
    return {
      items: [
        {
          title: "VUE",
          content:
            "Vue ทำหน้าที่เป็น View ใน MVC (Model View Controller) เป็น JavaScript Framework เอาไว้สำหรับพัฒนา UI (User Interface) สำหรับส่วน Frontend",
          image: require("@/assets/images/vue.webp"),
        },
        {
          title: "HTML & CSS",
          content:
            "HTML เป็นภาษาคอมพิวเตอร์ในรูปแบบหนึ่งที่ใช้สำาหรับสร้างหน้าเว็บ (Web Page) CSS คือ ภาษาที่ใช้สำหรับตกแต่งเอกสาร HTML/XHTML ให้มีหน้าตา สีสัน ระยะห่าง พื้นหลัง เส้นขอบและอื่นๆ ตามที่ต้องการ",
          image: require("@/assets/images/html+css.webp"),
        },

        {
          title: "JAVA SCRIPT",
          content:
            "JavaScript สามารถเขียนโปรแกรม JavaScript เพิ่มไปในเว็ปเพจเพื่อประโยชน์ในด้านต่างๆ ทั้งการคำนวณ การแสดงผล การรับ-ส่งข้อมูล และสามารถโต้ตอบกับผู้ใช้ได้อย่างทันทีทันได",
          image: require("@/assets/images/js.webp"),
        },
        {
          title: "NODE.JS",
          content:
            "Node.js คือ Cross Platform Runtime Environment สำหรับฝั่ง Server และเป็น Open Source ซึ่งเขียนด้วยภาษา JavaScript สรุปรวมๆ NodeJS ก็คือ Platform ตัวหนึ่งที่เขียนด้วย JavaScript สำหรับเป็น Web Server นั่นเอง",
          image: require("@/assets/images/nodejs.webp"),
        },
        {
          title: "FIREBASE",
          content:
            "Firebase คือ Platform ที่รวบรวมเครื่องมือต่าง ๆ สำหรับการจัดการในส่วนของ Backend หรือ Server side ซึ่งทำให้สามารถ Build Mobile Application ได้อย่างมีประสิทธิภาพ และยังลดเวลาและค่าใช้จ่ายของการทำ Server side หรือการวิเคราะห์ข้อมูลให้อีกด้วย",
          image: require("@/assets/images/firebase.webp"),
        },
        {
          title: "GITLAB",
          content:
            "Gitlab คือ Software ที่จัดการ Git Repository และยังสามารถจัดการ CI/CD (Continuous integration and Continuous delivery) ได้อีกด้วย",
          image: require("@/assets/images/gitlab.webp"),
        },
      ],
    };
  },
  components: {
    CardVertical,
    BCard,
    BCardText,
    BRow,
    BCol,
    BButton,
    BImg,
    BCardGroup,
  },
};
</script>

<style></style>
